cmake-build-debug/
cmake-build-release/
cmake-build*
build/
build-release/
.idea/
moje/
tmp/
cmake-
docker-compose-dev.yml
DockerfileDev
DockerfileDevLocal
.vscode/
venv/
venv*/
.gradle/
__pycache__/
.ipynb_checkpoints/
.todo
devconf/
