* {
    border: none;
    border-radius: 0;
    /* font-family: "Ubuntu Nerd Font"; */
    font-family: "Ubuntu";
    font-size: 13px;
    min-height: 0;
    /* background: #00171f; */
    background: #140000;
}

window#waybar {
    /* background: transparent; */
    /* color: white; */
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

/* #workspaces {
    padding: 0 5px;
} */


#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #e29d09;
    border-top: 2px solid #e29d09;
}

#mode {
    background: rgb(125, 108, 100);
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
}

/* #battery {
}

#battery icon {
    color: red;
}

#battery.charging {
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

/* #battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* #cpu {
}

#memory {
}

#network {
} */

#network.disconnected {
    background: #592400;
}

#pulseaudio {
}

#pulseaudio.muted {
}

/* #custom-spotify {
    color: rgb(102, 220, 105);
} */

#tray {
}